{% extends 'base.html' %}

{% block title %}


{% if title %}
<title>{{ title }} - Awwwards</title>
{% else %}
<title>Awwwards</title>
{% endif %}

{% endblock %}

{% block content %}


<form action="" enctype="multipart/form-data" method="post" class="form--edit-profile">
    {% csrf_token %}
    <h4>Edit profile</h4>

    <label for="file">Change profile</label>
    <input type="file" name="profile_pic">

    <textarea name="bio_info" required placeholder="bio...">{{profile.bio}}</textarea>

    <button type="submit" class="btn">Update </button>
</form>

{% endblock %}