{% extends "base.html" %}
{% load static %}
{% block title %}

<title>Login - Awwwards</title>
<link rel="stylesheet" href=" {% static 'css/auth.css' %} ">


{% endblock %}


{% block content %}

<div class="auth">
    <img src="{% static 'img/bg-login.jpg' %} " alt="Register bg" class="auth__bg">


    <div class="auth__box">
        <h3 class="heading-3">Login</h3>


        <form method="POST" class="auth__form">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn auth__btn">Login</button>
        </form>
    </div>
</div>


{% endblock %}